
<div class="text-center">
<img src="/assets/img/nectia.png"/>
<h4 class="gentontop">Business + IT / Prueba Técnica</h4>
<br>

<div id="layoutSidenav_content">
  <main>
      <div class="container-fluid">
        <h2 class="gentontop text-left" style="padding-left: 2%!important;"><img src="/assets/img/spotify.png" style="max-width: 40px;max-height: 40px;"/> Buscador Spotify </h2>
        <form class="form-inline active-cyan-3 active-cyan-4">
          
          <i class="fas fa-search" aria-hidden="true" style="color: aliceblue;"></i>
          <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Buscar Album" id="albuminput" name="albuminput" ngModel required
            aria-label="Search">&nbsp; 
            <input type="button" class="btn btn-success" (click)="Buscar()" title="Buscar" value="Buscar" id="BtnBuscar"/>
        </form>

<div ng-if="MyAlbunes.length > 0">
  <h3 style="color: aliceblue;">Resultado Búsqueda {{ MyAlbunes.length }} Álbumes </h3>
          <div class="row">
            <div class="col-md-16 form-inline text-center">
             
                <div *ngFor="let item of MyAlbunes" class="text-center">
                    <figure class="col-md-6">
                      <a class="black-text" [href]="'https://open.spotify.com/album/' +  item.Id_Album">
                        <img alt="picture" [src]="item.Images[1].Url" style="max-height: 400px;max-width:400px ;">
                      </a>
                  
                    </figure>
                    <table style="font-size:x-small;color: white;">
                      <tr>
                        <td style="text-align: left;"><u>Cantante: </u></td><td style="text-align: left;">{{ item.Artistas[0].Name }}</td>
                      </tr>
                      <tr>
                        <td style="text-align: left;"><u>Álbum:</u> </td><td style="text-align: left;">{{ item.Name}}</td>
                        </tr>
                        <tr>
                        <td style="text-align: left;"><u>Nª Track: </u></td><td style="text-align: left;">{{ item.TotalTracks }}</td>
                        </tr>
                    </table>
              </div>
            </div>
          </div>
        </div>
        
      </div>
  </main>
</div>
</div>

